/* Widen the page-layout content column so the calculator takes ~80% width */

#inputs{
    margin-left:20px;
    margin-bottom:20px;
}

#output{
  display:grid;
  grid-template-columns: repeat(4, 1fr); 
}
@media (max-width: 1200px){
  
#output{
  grid-template-columns: repeat(2, 1fr); 
}
}
@media (max-width: 700px){
  
#output{
  grid-template-columns: repeat(1, 1fr); 
}
}

@media screen and (min-width: 100px){
    #main-calculator{
        display: auto;
        width: 100%;
    }
#main-content{
    display: auto;
    text-align: center;
}
}

@media screen and (min-width: 700px){
    #main-calculator{
        display: grid;
        grid-template-columns: 4fr 7fr;
    }
#main-calculator > * {
    min-width: 0;
  }
#main-content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
}
}
@media screen and (min-width: 1400px){
    #main-calculator{
        display: grid;
        grid-template-columns: 3fr 7fr;
    }
#main-calculator > * {
    min-width: 0;
  }
#main-content{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    text-align: center;
}
}