
#input-div{
    position: relative;
}
#input-prefix{
    position:absolute;
    top:6px;
    left:4px;
    font-size: 14px;
    align-items: center;
    height: 100%;
    pointer-events: none;
}
#input-suffix{
    position:absolute;
    top:6px;
    left:14px;
    font-size: 14px;
    align-items: center;
    height: 100%;
    pointer-events: none;
}
input{
    padding:5px;
    width: 150px;
}